body {
  background: #d1e0e0;

}
/*--- navigation bar ---*/
.navbar {
  background: #669999;
}
.navbar-contact{
  background: #94b8b8;
}
.nav-link,
.navbar-brand {
  color: #000;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #fff;
}
.navbar-collapse {
  justify-content: flex-end;
}
.header {
  background-image: url('../pictures/foto-perfil.jpg');
  background-size: cover;
  background-position: -50px 0%; /*55% 50%*/
  position: fixed;
  max-width: 35.5%;
}
.subheading{
  font-size: 15px;
}
.lead{
  font-size: 16px;
}
.email{
  color:#0000ff;
}
.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.35);
}
.btn-light {
  padding: 4px 10px;
  font-size: 14px;
}
.mytext-date{
  color: #808080;
}
.contact{
  font-size: 14px;
}
.last-update{
  font-family: Monaco;
  font-size:13px;
  text-align:right;
}
.my-icon{
  width: 40px;
}
.my-set-icons{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}
